<%= render './shared/navbar' %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Edit Setlist</title>
  </head>
  <body>
    <div class='container'>

      <h5><%= link_to 'Cancel', setlist_path(@setlist) %></h5>
      <h3>Edit setlist</h3>
      <%= form_for(@setlist, url: setlist_path(@setlist), method: :put) do |f| %>
        <%= f.text_field :name %>
        <%= f.submit "Update setlist" %>
      <% end %>

    </div>
  </body>
</html>