<%= render 'shared/navbar' %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>New Setlist</title>
  </head>
  <body>
    <div class='container'>

      <h5><%= link_to 'Cancel', setlists_path %></h5>
      <h3>New setlist</h3>
      <hr>
      <%= form_for(@setlist, url: setlists_path) do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name %>
        <%= f.submit "Create setlist" %>
      <% end %>

    </div>
  </body>
</html>




