<%= render 'shared/navbar' %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Song Library</title>
  </head>
  <body>
    <div class='container'>

      <div class="row">
        <div class="col-md-4">
          <h2>Songs</h2>
          <!-- remove song not functional -->
          <h5><%= link_to 'Add song', new_song_path %> / <%= link_to 'Remove song(s)', songs_path %></h5>
          <h5>Sort by: <a href="#" class="title_sort">Title</a> / <a href="#" class="artist_sort">Artist</a></h5>
          <ul class="song_list">
            <% @songs_all.each do |song| %>
              <li><%= link_to "#{song.title} - #{song.artist}", song_path(song) %></li>
            <% end %>
          </ul>
        </div>
        <div class="col-md-8">
          <%= image_tag "cheese_telluride.png", class:"image" %>
        </div>
      </div>

    </div>
  </body>
</html>